# Object files
*.o

# Executables
*.out

main/sun
main/sunplot

# Data Files
InternalWaves/data

# MOBOXTERM Files
*.nfs*

#The files made for SAPELO runs
InternalWaves/Accessories/MatlabFilechanger/MATLABSUB/*.m
InternalWaves/Accessories/MatlabFilechanger/MATLABSUB/*.sh

#The report files of SAPELO
/home/omidvar/suntans/InternalWaves/IW-10001.e*
/home/omidvar/suntans/InternalWaves/IW-10001.o*

#The plots made for the presentations
InternalWaves/matlabcode/*.png

#Temporary databases
InternalWaves/matlabcode/APEResult.mat
