# Object files
*.o

# Executables
*.out

main/sun
main/sunplot

# Data Files
InternalWaves/data

# MOBOXTERM Files
*.nfs*

#The output report and erro
iwaves/IW-10001.e*
iwaves/IW-10001.o*

InternalWaves/IW-10001.e*
InternalWaves/IW-10001.o*

#The files made for SAPELO runs
InternalWaves/Accessories/MatlabFilechanger/MATLABSUB/*.m
InternalWaves/Accessories/MatlabFilechanger/MATLABSUB/*.sh

#The plots made for the presentations
InternalWaves/matlabcode/*.png
